* { 
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 1600px;
    height: 1600px;
    margin: 5px;
}

.container .sqare {
    width: 100px;
    height: 100px;
    background-color: red;
    border: 2px solid blue;
}


