* { 
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    height: 900px;
    margin: 5px;
    padding: 0px;

}
 
.container .sqare {
    height: 1px;
    width: 1px;
    background-color: red;
    border: 1px solid blue;
    padding: 0px; 
    margin: 0px;
}

 
              